<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">

        <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarCenteredExample"
                aria-controls="navbarCenteredExample"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>


        <div
                class="collapse navbar-collapse justify-content-center"
                id="navbarCenteredExample"
        >

            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_accueil') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nos occasions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_commentaire') }}">Vos commentaires</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_contact') }}">Contactez nous</a>
                </li>
                {% if app.user %}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Administration
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                            <li><a class="dropdown-item" href="{{ path('app_admin_employe') }}">Employés</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_admin_ouverture') }}">Horaires</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_admin_vehicule') }}">Occasions</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_admin_commentaire') }}">Commentaires</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_admin_equipement') }}">Equipements</a></li>


                        </ul>
                    </div>
                {% endif %}
                <li class="justify-content-end nav-item">
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}" class="nav-link active">Se déconnecter</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="nav-link ">Se connecter</a>
                    {% endif %}

                </li>


            </ul>



        </div>


    </div>
    <!-- Container wrapper -->
</nav>

