{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}


<div class="container mt-3">
    <h1>Liste des employés</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">Nom</th>
                <th class="text-center">Prénom</th>
                <th class="text-center">Email</th>
                {% if is_granted('ROLE_ADMIN') %}
                <th class="text-center">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td class="text-center">{{ employe.nom | upper }}</td>
                <td class="text-center">{{ employe.prenom | capitalize }}</td>
                <td class="text-center">{{ employe.email }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td class="text-center">
                    <a href="{{ path('app_admin_employe_edition',{id: employe.id}) }}"><input class="btn btn-info" type="button" value="Modifier"></a>
                    <a href="{{ path('app_admin_employe_suppression',{id: employe.id}) }}"><input type="button" class="btn btn-danger" value="Supprimer" onclick="return confirm('Etes-vous sûr de vouloir supprimer cette fiche employé ?')"></a>
                </td>
                {% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

    {% if is_granted('ROLE_ADMIN') %}
    <div class="container mt-3">
        <a href="{{ path('app_admin_employe_ajout') }}"><input type="button" value="AJOUTER" class="btn btn-primary"></a>
    </div>
    {% endif %}
{% endblock %}
