{% extends 'base.html.twig' %}

{% block title %}Modération des commentaires{% endblock %}

{% block body %}


    <div class="container">
        <h1>Liste des commentaires à modérer</h1>



        {% if commentaires %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Commentaire</th>
                    <th class="text-center">Note</th>
                    {% if is_granted('ROLE_USER') %}
                        <th class="text-center">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>

                {% for commentaire in commentaires %}
                    <tr>
                        <td class="text-center">{{ commentaire.creation | date('d/m/Y') }}</td>
                        <td class="text-center">{{ commentaire.nom | upper }}</td>
                        <td class="text-center">{{ commentaire.commentaire | capitalize }}</td>
                        <td class="text-center">{{ commentaire.note }} /5</td>

                        {% if is_granted('ROLE_ADMIN') %}
                            <td class="text-center">
                                {% if commentaire.estModere == false %}
                                <a href="{{ path('app_admin_commentaire_modere',{id: commentaire.id}) }}"><input class="btn btn-info" type="button" value="Modérer" onclick="return confirm('Etes-vous sûr de vouloir marquer modéré ce commentaire ?')"></a>
                                {% endif %}
                                <a href="{{ path('app_admin_commentaire_supprimer',{id: commentaire.id}) }}"><input class="btn btn-danger" type="button" value="Supprimer" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce commentaire ?')"></a>
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}



                </tbody>
            </table>
        {% else %}


            <h4 class="text-center mt-5">Aucun enregistrement</h4>

        {% endif %}


    </div>
{% endblock %}
