{% extends 'base.html.twig' %}

{% block title %}Commentaire Modéré{% endblock %}

{% block body %}

    <h1>Vos commentaires</h1>

    <div class="container mt-5">
    {% if commentaires %}
        <div class="row">
            {% for commentaire in commentaires %}

                <div class="card col-md-4 col-sm-4 col-lg-4 col-xs-4">

                    <div class="card-body mt-3">


                        <h5 class="card-title mt-3">De : {{ commentaire.nom | upper }}, en date du {{ commentaire.creation |date("d/m/Y") }}</h5>

                        <p class="card-text mt-5">{{ commentaire.commentaire}}</p>
                        {% set note = commentaire.note %}


                        <div class="rating">
                            {% for i in 1..5 %}
                                {% set starImage = (note >= i ? "images/star-filled.png" : "images/star-empty.png") %}
                                <img src="{{ starImage }}" alt="étoile remplie">
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% if loop.index % 3 == 0 or loop.last %}

                {% endif %}

            {% endfor %}
            {% endif %}
        </div>


        <a href="{{ path('app_commentaire_ajout') }}"><input type="button" class="btn btn-primary mt-5" value="Laissez nous un commentaire !"></a>
    </div>



{% endblock %}
