{% extends 'base.html.twig' %}

{% block title %}Ouvertures{% endblock %}

{% block body %}


<div class="container mt-5">
    <h1>Gestion des horaires d'ouverture</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Jour</th>
            <th>Début matin</th>
            <th>Fin matin</th>
            <th>Début AM</th>
            <th>Fin AM</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for ouverture in ouvertures %}
        <tr>
            <td>{{ ouverture.jour }}</td>

            {% if ouverture.hdmatin is not null %}
            <td>{{ ouverture.hdmatin | date('H:i') }}</td>
            {% endif %}

            {% if ouverture.hfmatin is not null %}
            <td>{{ ouverture.hfmatin | date('H:i') }}</td>
            {% endif %}

            {% if ouverture.hdapresmidi is not null %}
            <td>{{ ouverture.hdapresmidi | date('H:i') }}</td>
            {% endif %}

            {% if ouverture.hfapresmidi is not null %}
            <td>{{ ouverture.hfapresmidi | date('H:i') }}</td>
            {% endif %}

            <td>
                <a href="{{ path('app_admin_modif_ouverture',{id: ouverture.id}) }}"><input type="button" class="btn btn-info" value="MODIFIER"></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
